body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
}

h1{
    top:0px;
    left:50%;
    background-color: #efefef;
}

p {
    width: 25%;
    float: left;
    margin: 2.5%;
    padding: 5%;
    background: #efefef;
}
.clear{
    clear: left;
}