*{
    margin:auto;
    padding: 0;
    max-width: 1024px;
}

body{
    margin: 10px;
}

#centralizado{
    margin: 10 auto;
    width: 70%;
    border: 1px solid #000;
    text-align: center;
    padding: 1ch;
}

div, p{
    text-align: left;
    margin: 15px;
}
li {
    display: inline;
    margin-right: 10px;
}

#naoVe{
    display: none;
}

#estouAqui{
    visibility: hidden;
}